In [394]:
import numpy as np
import os
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("adult.data",
                 header=None,
                 encoding='utf-8',
                na_values=[' ?', '? '])

df.columns = ['age', 'workclass', 'fnlwgt', 'education',
                   'education-num', 'marital-status', 'occupation',
                   'relationship', 'race', 'sex',
                   'capital-gain', 'capital-loss',
                   'hours-per-week', 'native-country', 'Listing of attributes']

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Listing of attributes
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [395]:
df['Listing of attributes'] = df['Listing of attributes'].replace(' <=50K', 0)
df['Listing of attributes'] = df['Listing of attributes'].replace(' >50K', 1)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Listing of attributes
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [396]:
del df['fnlwgt']
#del df['marital-status']
del df['sex']
del df['race']
#del df['native-country']
del df['relationship']
#del df['age']
del df['hours-per-week']
#del df['capital-gain']
del df['capital-loss']
#del df['workclass']
#del df['occupation']
#del df['education-num']
print(df)

       age          workclass    education  education-num  \
0       39          State-gov    Bachelors             13
1       50   Self-emp-not-inc    Bachelors             13
2       38            Private      HS-grad              9
3       53            Private         11th              7
4       28            Private    Bachelors             13
...    ...                ...          ...            ...
32556   27            Private   Assoc-acdm             12
32557   40            Private      HS-grad              9
32558   58            Private      HS-grad              9
32559   22            Private      HS-grad              9
32560   52       Self-emp-inc      HS-grad              9

            marital-status          occupation  capital-gain  native-country  \
0            Never-married        Adm-clerical          2174   United-States
1       Married-civ-spouse     Exec-managerial             0   United-States
2                 Divorced   Handlers-cleaners             0   United-States
3       Married-civ-spouse   Handlers-cleaners             0   United-States
4       Married-civ-spouse      Prof-specialty             0            Cuba
...                    ...                 ...           ...             ...
32556   Married-civ-spouse        Tech-support             0   United-States
32557   Married-civ-spouse   Machine-op-inspct             0   United-States
32558              Widowed        Adm-clerical             0   United-States
32559        Never-married        Adm-clerical             0   United-States
32560   Married-civ-spouse     Exec-managerial         15024   United-States

       Listing of attributes
0                          0
1                          0
2                          0
3                          0
4                          0
...                      ...
32556                      0
32557                      1
32558                      0
32559                      0
32560                      1

[32561 rows x 9 columns]

In [397]:
df = pd.get_dummies(df)

In [398]:
df = df.dropna(axis=0,how='any')

In [399]:
from sklearn.model_selection import train_test_split

y = df['Listing of attributes']
del df['Listing of attributes']
X = df
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3,stratify=y, random_state=0)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)

(22792, 89)
(9769, 89)
(22792,)

In [400]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler ,MaxAbsScaler ,RobustScaler

std_sc = StandardScaler()
std_sc.fit(x_train)

X_train_std = std_sc.transform(x_train)
std_sc.fit(x_test)
X_test_std = std_sc.transform(x_test)

mm_sc = MinMaxScaler()
mm_sc.fit(x_train)

X_train_mm = mm_sc.transform(x_train)
mm_sc.fit(x_test)
X_test_mm = mm_sc.transform(x_test)

ma_sc = MaxAbsScaler()
ma_sc.fit(x_train)

X_train_ma = ma_sc.transform(x_train)
ma_sc.fit(x_test)
X_test_ma = ma_sc.transform(x_test)

rb_sc = RobustScaler()
rb_sc.fit(x_train)

X_train_rb = rb_sc.transform(x_train)
rb_sc.fit(x_test)
X_test_rb = rb_sc.transform(x_test)

X_train_arr = [X_train_std, X_train_mm, X_train_ma, X_train_rb]
X_test_arr = [X_test_std, X_test_mm, X_test_ma, X_test_rb]

In [401]:
from sklearn.metrics import accuracy_score
from sklearn import metrics
from sklearn.decomposition import PCA

X_name = ['Standard','MinMax','MaxAbs','Robust']

In [ ]:
from sklearn.linear_model import Perceptron

for idx, X_train_ in enumerate(X_train_arr):
    ppn = Perceptron(eta0=0.1, random_state=1)
    ppn.fit(X_train_, y_train)

    y_pred = ppn.predict(X_test_arr[idx])
    print(X_name[idx])
    print('Misclassified examples: %d' % (y_test != y_pred).sum())

    print('Accuracy: %.4f' % accuracy_score(y_test, y_pred))

    fpr, tpr, thresholds = metrics.roc_curve(y_test, y_pred)
    print('AUC: %.4f' % metrics.auc(fpr, tpr))

In [384]:
from sklearn.neural_network import MLPClassifier
from sklearn.datasets import make_classification

for idx, X_train_ in enumerate(X_train_arr):
    
    mlp = MLPClassifier(random_state=1, max_iter=500).fit(X_train_, y_train)
    y_pred = mlp.predict(X_test_arr[idx])

    print('Misclassified examples: %d' % (y_test != y_pred).sum())
    print('Accuracy: %.3f'%accuracy_score(y_test,y_pred))
    #print('Accuracy: %.3f'%mlp.score(X_train_,y_test))

    fpr, tpr, thresholds = metrics.roc_curve(y_test, y_pred)
    print('AUC: %.4f' % metrics.auc(fpr, tpr))

Misclassified examples: 1561
Accuracy: 0.840
AUC: 0.7585
Misclassified examples: 1560
Accuracy: 0.840
AUC: 0.7652
Misclassified examples: 1555
Accuracy: 0.841
AUC: 0.7533
Misclassified examples: 1482
Accuracy: 0.848
AUC: 0.7541

In [337]:
from sklearn.tree import DecisionTreeClassifier

for idx, X_train_ in enumerate(X_train_arr):
    
    tree_model = DecisionTreeClassifier(criterion='gini', 
                                        max_depth=15, 
                                        random_state=1)
    tree_model.fit(X_train_, y_train)

    y_pred = tree_model.predict(X_test_arr[idx])
    print('Misclassified examples: %d' % (y_test != y_pred).sum())
    print('Accuracy: %.3f' % accuracy_score(y_test, y_pred))
    #print('Accuracy: %.3f'%tree_model.score(X_train_,y_test))
    fpr, tpr, thresholds = metrics.roc_curve(y_test, y_pred)
    print('AUC: %.4f' % metrics.auc(fpr, tpr))

Misclassified examples: 1637
Accuracy: 0.832
AUC: 0.7286
Misclassified examples: 1594
Accuracy: 0.837
AUC: 0.7340
Misclassified examples: 1588
Accuracy: 0.837
AUC: 0.7343
Misclassified examples: 1588
Accuracy: 0.837
AUC: 0.7340

In [ ]:
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC

for idx, X_train_ in enumerate(X_train_arr):
    svm = SVC(kernel='linear', C=1.0, random_state=1)

    svm.fit(X_train_, y_train)
    y_pred = svm.predict(X_test_arr[idx])
    print('Misclassified examples: %d' % (y_test != y_pred).sum())
    print('Accuracy: %.3f' % accuracy_score(y_test, y_pred))
    fpr, tpr, thresholds = metrics.roc_curve(y_test, y_pred)
    print('AUC: %.4f' % metrics.auc(fpr, tpr))

Misclassified examples: 1483
Accuracy: 0.848
AUC: 0.7537
Misclassified examples: 1492
Accuracy: 0.847
AUC: 0.7538
Misclassified examples: 1496
Accuracy: 0.847
AUC: 0.7540

In [80]:
from sklearn import svm

for idx, X_train_ in enumerate(X_train_arr):
    
    clf = svm.SVC(kernel='rbf', C=1.0, random_state=1,gamma="auto")
    #clf = svm(kernel='rbf', C=1.0, random_state=1)

    clf.fit(X_train_, y_train)
    y_pred = clf.predict(X_test_arr[idx])
    print('Misclassified examples: %d' % (y_test != y_pred).sum())
    print('Accuracy: %.3f' % accuracy_score(y_test, y_pred))
    fpr, tpr, thresholds = metrics.roc_curve(y_test, y_pred)
    print('AUC: %.4f' % metrics.auc(fpr, tpr))

Misclassified examples: 1505
Accuracy: 0.846
AUC: 0.7473
Misclassified examples: 1649
Accuracy: 0.831
AUC: 0.7123
Misclassified examples: 1649
Accuracy: 0.831
AUC: 0.7126
Misclassified examples: 1336
Accuracy: 0.863
AUC: 0.7619

In [338]:
from sklearn.neighbors import KNeighborsClassifier

for idx, X_train_ in enumerate(X_train_arr):
    
    knn = KNeighborsClassifier(n_neighbors=5, 
                               p=2, 
                               metric='minkowski')
    knn.fit(X_train_, y_train)

    y_pred = knn.predict(X_test_arr[idx])
    print('Misclassified examples: %d' % (y_test != y_pred).sum())
    print('Accuracy: %.3f' % accuracy_score(y_test, y_pred))
    fpr, tpr, thresholds = metrics.roc_curve(y_test, y_pred)
    print('AUC: %.4f' % metrics.auc(fpr, tpr))

Misclassified examples: 1731
Accuracy: 0.823
AUC: 0.7338
Misclassified examples: 1779
Accuracy: 0.818
AUC: 0.7276
Misclassified examples: 1742
Accuracy: 0.822
AUC: 0.7306
Misclassified examples: 1534
Accuracy: 0.843
AUC: 0.7614

In [339]:
from sklearn.linear_model import LogisticRegression

for idx, X_train_ in enumerate(X_train_arr):
    pca = PCA(n_components=40)
    X_train_pca = pca.fit_transform(X_train_)
    X_test_pca = pca.transform(X_test_arr[idx])

    lr = LogisticRegression(multi_class='ovr', random_state=1, solver='lbfgs',max_iter=1500)
    lr = lr.fit(X_train_pca, y_train)

    y_pred = lr.predict(X_test_pca)
    print('Misclassified examples: %d' % (y_test != y_pred).sum())

    print('Accuracy: %.4f' % accuracy_score(y_test, y_pred))

    fpr, tpr, thresholds = metrics.roc_curve(y_test, y_pred)
    print('AUC: %.4f' % metrics.auc(fpr, tpr))

Misclassified examples: 1544
Accuracy: 0.8419
AUC: 0.7460
Misclassified examples: 1555
Accuracy: 0.8408
AUC: 0.7400
Misclassified examples: 1555
Accuracy: 0.8408
AUC: 0.7400
Misclassified examples: 1536
Accuracy: 0.8428
AUC: 0.7450